/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2020, 8:38:10 PM
    Author     : jonathan
*/
.bg-custom{
    background-color: #9c9c9c;
}

body{
    background-color:#bbc9d4;
}
